torch
torchaudio
torchvision
transformers
datasets
accelerate
evaluate
rouge_score
sentencepiece
sentence-transformers
pandas
numpy
scikit-learn
matplotlib
tqdm
librosa
soundfile
requests
gdown
pyarrow
fastparquet